.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.sidebar.show {
  transform: translateX(0);
  z-index:1000;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}

.logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

.sidebar ul.components {
  padding: 0;
  border-bottom: 1px solid #4a4a4a;
}

.sidebar ul li {
  list-style-type: none;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #555;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

/* styles for social media icons */
.social-media-icons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons-container svg {
  font-size: 15px;
  color: white;
  margin-right: 10px;
}

/* styles for copyright information */
.copyright-info {
  color: white;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.menu-bar {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.menu-bar .bar {
  width: 30px;
  height: 3px;
  background-color: #555;
  margin: 6px 0;
  transition: 0.4s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  .sidebar.show {
    width: 70%;
  }

  .menu-bar {
    display: flex;
    z-index: 1001;
  }
}
